html, body {
  height: 100%;
  width: 100%;
}

/* {
  padding-top: 5em;
  padding-bottom: 5em;
 border: 1px black solid;
} */
h1{
  font-size: 200%;
}
.col{
  height: 6em;
  color:  yellow;
  min-height: 4em
  min-width: 2em;
 
}
#font{
  overflow: hidden;
}

